*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    background-color: #97CDEF;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

textarea {
    resize: none;
    overflow: hidden;
}

button {
    color: white;
    background-color: black;
    padding: 0.5em;
}

.invisible {
    display: none;
}

.page {
    width: 100vw;
    height: 100vh;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.title {
    font-weight: bold;
    font-size: 20pt;
    border-bottom: 1px solid black;
}

.subtitle {
    font-weight: bold;
    font-size: 16pt;
}

.body {
    font-size: 14pt;
}

.error {
    color: red;
}

.data-content-privacy > .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 1.2fr;
    width: inherit;
    height: inherit;
    column-gap: 1em;
}

.data-content-privacy > .grid > img {
    grid-column: 1 / 2;
    justify-self: end;
    align-self: center;
}

.data-content-privacy > .grid > .info {
    grid-column: 2 / 3;
    align-self: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.data-content-privacy > .grid > .info > div {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.data-content-privacy > .grid > .info > div > label {
    font-weight: bold;
}

.data-content-privacy > .grid > .info > div > input,
.data-content-privacy > .grid > .info > div > textarea {
    flex-grow: 1;
    border: none;
    background: none;
}

.data-content-privacy > .grid > .info > div > input:focus,
.data-content-privacy > .grid > .info > div > textarea:focus {
    outline: none;
}

.data-content-privacy > .grid > .rect {
    grid-row: 2;
    grid-column: 1 / 3;
    background-color: white;
    justify-self: stretch;
    align-self: stretch;
    margin: 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.student-health-record > .grid {
    place-items: stretch;
    padding: 4em;
}

.student-health-record > .grid > .rect {
    background-color: white;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.student-health-record > .grid > .rect > .buttons {
    align-self: end;
    display: flex;
    gap: 1em;
}

.thank-you > .grid,
.form > .grid {
    width: 90%;
    height: 90%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    column-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
}

.form > .grid > div:not(.message) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0em;
    gap: 0.5em;
}

.form > .grid > div > label {
    white-space: nowrap;
}

.form > .grid > div > select,
.form > .grid > div > input {
    width: 100%;
    padding: 0.5em;
}

.form > .grid > .title,
.form > .grid > .message {
    padding: 2em;
    grid-column: 1 / 5;
}

.form > .grid > .gender,
.form > .grid > .birth-date,
.form > .grid > .father-contact,
.form > .grid > .grade-level {
    grid-column: 1 / 2;
}

.form > .grid > .grade-section {
    grid-column: 2 / 3;
}

.form > .grid > .mother-name,
.form > .grid > .address {
    grid-column: 3 / 5;
}

.form > .grid > .birth-place,
.form > .grid > .nationality {
    grid-column: 2 / 4;
}

.form > .grid > .error,
.form > .grid > .submit,
.form > .grid > .religion {
    grid-column: 4 / 5;
}

.form > .grid > .father-name {
    grid-column: 1 / 3;
}

.form > .grid > .mother-contact {
    grid-column: 3 / 4;
}
